.ArticleRecommend {
    width: 100%;
    .ArticleListRecommendation {
        flex-wrap: nowrap;
        width: 100%;
        overflow-y: hidden;
        height: 350px;
        overflow-x: auto;
        gap: 30px;
    }
}
