.ArticleDitails {
	min-height: 100%;
}
.avatarWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.arcticleInfo {
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.block {
	margin-top: 16px;
}

.icon {
	margin-right: 8px;
}

.avatar {
	margin: 0 auto;
}

.title {
	margin-top: 30px;
}

.skeleton {
	margin-top: 15px;
}
