.Sidebar {
	height: calc(100vh - var(--navbar-heigth));
	width: var(--sidebar-width);
	background: var(--inverted-bg-color);

	position: relative;
	transition: width 0.3s;
}

.collapsedBtn {
	position: absolute;
	right: -15px;
	top: 45%;
}

.items {
	margin-top: 20px;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}

.item {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.link {
	margin-left: 10px;
	opacity: 1;
	transition: 0.8s opacity;
}
.icon {
	fill: var(--inverted-secondary-color);
}

.collapsed {
	width: var(--sidebar-width-collapsed);
	.link {
		opacity: 0;
		transition: 0.3s opacity;
		width: 0;
	}
}
