.app.dark {
	--bg-color: #1e1e47;
	--inverted-bg-color: #c9cabd;

	--primary-color: rgb(118, 170, 118);
	--secondary-color: rgb(32, 226, 32);
	--inverted-primary-color: rgb(34, 66, 41);
	--inverted-secondary-color: #1f8bc9;
}
