.app_new_theme {
    --bg-color: #faf6f5;
    --inverted-bg-color: #70261a;

    --primary-color: #8a271f;
    --secondary-color: #e64a3c;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf6f5;

    // skeleton
    --skeleton-color: #f8e7e7;
    --skeleton-shadow: rgba(133, 74, 74, 0.2);

    // code
    --code-bg: #fff;
    // svg image
    --color-svg: #1d1da8;
    // card
    --card-bg: #f5cabf;
    // listbox
    --listbox-bg: #f5cabf;
}
