:root {
	--bg-color: #c9cabd;
	--inverted-bg-color: #1e1e47;

	--primary-color: rgb(34, 66, 41);
	--secondary-color: #1e1e47;
	--inverted-primary-color: rgb(118, 170, 118);
	--inverted-secondary-color: rgb(32, 226, 32);

	// skeleton
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--code-bg: #fff;
	// svg image
	--color-svg: #9a1a0e;
}
