.app.light {
	--bg-color: #c9cabd;
	--inverted-bg-color: #1e1e47;

	--primary-color: rgb(34, 66, 41);
	--secondary-color: rgb(32, 203, 226);
	--inverted-primary-color: rgb(118, 170, 118);
	--inverted-secondary-color: rgb(32, 226, 32);
}
