.Card {
    border-radius: 12px;
}
.normal {
    border-radius: 12px;
}
.light {
    background: var(--light-bg-redesigned);
}
.round {
    border-radius: 40px;
}
.default {
    background-color: var(--dark-bg-redesigned);
}
.outlined {
    background-color: var(--dark-bg-redesigned);
    border: 1px solid var(--accent-redesigned);
}
.max {
    width: 100%;
}
.gap_0 {
    padding: 0px;
}
.gap_8 {
    padding: 8px;
}
.gap_16 {
    padding: 16px;
}
.gap_24 {
    padding: 24px;
}
.gap_32 {
    padding: 32px;
}
.gap_40 {
    padding: 40px;
}
