.StarRating {
    .hovered {
        fill: var(--icon-redesigned);
    }
}

.starIcon {
    cursor: pointer;
    color: var(--icon-redesigned);
    padding-right: 10px;
}

.normal {
    fill: none;
}

.selected {
    cursor: auto;
}
