.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    .links,
    .actions {
        margin-left: auto;
    }
    .lang {
        margin-left: 20px;
    }
    .appName {
        width: 200px;
        margin-left: 15px;
    }

    .avatar {
        cursor: pointer;
    }
}
.NavbarNew {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
